@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  font-family: "Roboto", sans-serif;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

p {
  margin: 0;
}

$max-width: 1024px;
$min_width: 360px;
$color: #1877f2;
$fontColor: white;

#root {
  display: flex;
  width: min(100%, $max-width);
  margin-inline: auto;
  gap: 1rem;
  overflow: visible;
  @media screen and (max-width: $max-width) {
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
}

.header {
  display: flex;
  position: sticky;
  top: 2rem;
  height: fit-content;
  width: 30%;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;

  @media screen and (max-width: $max-width) {
    position: unset;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
    overflow: scroll;
    flex-direction: row;
  }
}

button {
  min-width: 160px;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 8px;
  color: $fontColor;
  background-color: $color;
  text-transform: capitalize;
  @media screen and (max-width: $max-width) {
    min-width: fit-content;
  }
}

.selected {
  transform: scale(1.1);
  transition: transform 100ms ease-in;
}

.drinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drink {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min_width, 1fr));
  gap: 1rem;
}

.ingredients {
  display: flex;
  flex-direction: column;
}

.drink__desk {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 4px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

  h2 {
    margin-bottom: 0.5rem;
  }
}

.drink__img {
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}
